<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="NeoMem2.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <NeoMem2.Gui.Properties.Settings>
            <setting name="ImportConnectionString" serializeAs="String">
                <value>D:\wc\NeoMem2\Notes.csv</value>
            </setting>
            <setting name="MainConnectionString" serializeAs="String">
                <value>server=.;database=NeoMem2;trusted_connection=true</value>
            </setting>
            <setting name="StoreType" serializeAs="String">
                <value>NeoMem2.Data.SqlServer.SqlServerStore</value>
            </setting>
            <setting name="NoteColumns" serializeAs="String">
                <value>Score,LastModifiedDate,Class,Name,Tags,TextFormat,[all custom]</value>
            </setting>
            <setting name="ClassNoteTreeModelSorted" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClassNoteTreeModelGroupChildren" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxChildNodesForAutoExpand" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NoteFormDefaultPropertiesLocation" serializeAs="String">
                <value>Right</value>
            </setting>
            <setting name="NoteFormDefaultLinksLocation" serializeAs="String">
                <value>Bottom</value>
            </setting>
            <setting name="MatcherType" serializeAs="String">
                <value />
            </setting>
            <setting name="TreeModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="NoteModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectTopSearchMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TemplateVisibility" serializeAs="String">
                <value>WhenOnlyTemplates</value>
            </setting>
            <setting name="ExportConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="RefreshOnNewNote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HtmlExportClassesToExclude" serializeAs="String">
                <value>ARQ,Email,Employee,Journal</value>
            </setting>
            <setting name="StructuredNoteNameDelimiter" serializeAs="String">
                <value>\</value>
            </setting>
        </NeoMem2.Gui.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
