<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
 
  <variable name="DateFormat" value="${date:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
  <variable name="PipeLayout" value="${DateFormat}|${threadid}|${threadname}|${level}|${logger}|${ndc}|${message}|${exception:format=tostring}" />
  <variable name="TextLayout" value="${DateFormat} [${threadname} (${threadid})] ${level} ${logger} [${ndc}] [${mdc:item=ReaderId}] - ${message}" />
 
  <targets>
    <target name="f1" 
            xsi:type="File" 
            fileName="NeoMem2.Gui.exe.log"
            archiveAboveSize="10000000"
            concurrentWrites="false"
            header="${DateFormat}|Application Started" 
            footer="${DateFormat}|Application Stopped${newline}" 
            layout="${PipeLayout}" />
  </targets>
 
  <rules>
    <logger name="NeoMem2.Data.AdoDataAccess" minlevel="Debug" writeTo="f1" final="true" />
    <logger name="NeoMem2.Utils.ComponentModel.TrackedProperty" minlevel="Info" writeTo="f1" final="true" />
    <logger name="*" minlevel="Trace" writeTo="f1" />
  </rules>
 
</nlog>